build
compile_commands.json
.clangd
.cache
perf.data
perf.data.old
mnist.profdata
mnist.profraw
*.nsys-rep
*.ncu-rep
*.sqlite
__pycache__

# Python artifacts
.venv
*.pyc
*.egg-info
dist
*.so
*.pyd

plans
